*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.board{
    margin: 0 auto;
    width: 427px;
    height: 400px;
}
.box{
    display: flex;
    justify-content: center;
    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: solid 0.1em #000;
}
.black{
    background-color: #001;
}
.red{
    background-color: #F00;
}
.white{
    background-color: #FFF;
}
.base-circle{
    margin-top: 4px;
    border-radius: 50%;
    border: solid 1px #000;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.mini-circle{
    margin-top: 20px;
    border-radius: 50%;
    border: solid 1px #FFF;
    width: 10px;
    height: 10px;
    cursor: pointer; 
}
.black-chip{
    background-color:rgb(59, 58, 58);
}
.red-chip{
    background-color: #F00;
}
.preview-chip{
    border: solid 1px #FFF;
    background-color: rgb(8, 211, 25);
}  
.score-container{
    border: solid 1px #000;
    padding: 5px;
    width: 100px;
    height: 100px;
    font-size: 14px;
}
.score-container span{
    display: block;
    font-weight: bold;
    font-size: 15px;
    border-bottom: solid 0.1em #000;
}
.red-team{
    margin-right: 10px;
}
.black-team{
    margin-top: 325px;
    margin-left: 10px;
}
.game-area{
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.eatable{
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}